.nav-bar_container{
    height: 60px;
    background-color:white;
}
.wrapper{
    padding: 10px 20px;
    display:flex;
    justify-content: space-between;
}
.left{
    flex: 1;
    display: flex;
    align-items: center;
   
}
.searchContainer{
    align-items: center;
    display: flex;
    margin-left: 25px;
    padding: 5px;
    border: 0.5px solid lightgray;
}
.nav-input{
    border:none;
}
.center{
    flex: 1;
    text-align: center;
}
#logo{
    font-weight: bold;
}
.right{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.menuItem{
    font-size: 14px;
    cursor: pointer;
    margin-left: 25px;
}